WService/xml-resources/web-service-references/WS_Pedidos/wsdl/localhost_8080/WS_Pedidos/WS_Pedidos.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://dominio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://dominio/" name="WS_Pedidos">
<types>
<xsd:schema>
<xsd:import namespace="http://dominio/" schemaLocation="http://localhost:8080/WS_Pedidos/WS_Pedidos?xsd=1"/>
</xsd:schema>
</types>
<message name="operation">
<part name="parameters" element="tns:operation"/>
</message>
<message name="operationResponse">
<part name="parameters" element="tns:operationResponse"/>
</message>
<message name="addPedido">
<part name="parameters" element="tns:addPedido"/>
</message>
<message name="addPedidoResponse">
<part name="parameters" element="tns:addPedidoResponse"/>
</message>
<message name="getPedidosPendientes">
<part name="parameters" element="tns:getPedidosPendientes"/>
</message>
<message name="getPedidosPendientesResponse">
<part name="parameters" element="tns:getPedidosPendientesResponse"/>
</message>
<message name="editPedido">
<part name="parameters" element="tns:editPedido"/>
</message>
<message name="editPedidoResponse">
<part name="parameters" element="tns:editPedidoResponse"/>
</message>
<portType name="WS_Pedidos">
<operation name="operation">
<input wsam:Action="http://dominio/WS_Pedidos/operationRequest" message="tns:operation"/>
<output wsam:Action="http://dominio/WS_Pedidos/operationResponse" message="tns:operationResponse"/>
</operation>
<operation name="addPedido">
<input wsam:Action="http://dominio/WS_Pedidos/addPedidoRequest" message="tns:addPedido"/>
<output wsam:Action="http://dominio/WS_Pedidos/addPedidoResponse" message="tns:addPedidoResponse"/>
</operation>
<operation name="getPedidosPendientes">
<input wsam:Action="http://dominio/WS_Pedidos/getPedidosPendientesRequest" message="tns:getPedidosPendientes"/>
<output wsam:Action="http://dominio/WS_Pedidos/getPedidosPendientesResponse" message="tns:getPedidosPendientesResponse"/>
</operation>
<operation name="editPedido">
<input wsam:Action="http://dominio/WS_Pedidos/editPedidoRequest" message="tns:editPedido"/>
<output wsam:Action="http://dominio/WS_Pedidos/editPedidoResponse" message="tns:editPedidoResponse"/>
</operation>
</portType>
<binding name="WS_PedidosPortBinding" type="tns:WS_Pedidos">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="operation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPedidosPendientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WS_Pedidos">
<port name="WS_PedidosPort" binding="tns:WS_PedidosPortBinding">
<soap:address location="http://localhost:8080/WS_Pedidos/WS_Pedidos"/>
</port>
</service>
</definitions>